.video-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: black; /* full black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* FULL SCREEN */
}
