/* Reset margins and paddings, set box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  height: 100%;
  overflow-x: hidden;  
  overflow-y: auto;    
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Container for app layout */
.app-container {
  display: flex;
  flex-wrap: nowrap;      
  max-width: 100vw;       
  overflow-x: hidden;    
}

section{
  max-width: 100vw;      
  overflow-x: hidden;    
}


